#letras-erradas{
  margin-top: 50px;
  width: 300px;
  height: 30px;
  border-radius: 5px;
  border-style: solid;
  font-size: 15px;
  text-align: center;
  padding-top: 10px;
  float: right;
}

#contador{
  float: left;
  display: block;
  font-size: 30px;
  margin-top: 65px;
}
