/* ==========================================
	Palavra
   ========================================== */

.palavra {
	margin: 0 auto;
	width: 100%;
	height: 300px;
	position: relative;
	text-align: center;
}

.caixa {
	position: absolute;
	width: 100%;
	height: 50%;
	border: 3px solid #000;
	top: 25%;
	left: 0;
	border-radius: 10px;
	padding: 15px;
  	box-sizing: border-box;
  	-webkit-box-sizing: border-box;
}

.caixa-tampa {
	position: absolute;
	width: 100%;
	height: 50%;
	top: 25%;
	left: 0;
	z-index: 999;
}

.caixa p {
	font-size: 25px;
	line-height: 34px;
	margin: 10% 20%;
}

.char{
	text-align: center;
	width: 20px;
	height: 50px;
	line-height: 40px;
	font-size: 25px;
	color: #fff;
	border-bottom: 3px solid;
	border-bottom-color: #000;
	margin-left: 5px;
	-ms-user-select:none;
}