/* ==========================================
	Boneco
========================================== */

.stick-content {
	margin: 0;
	width: 100%;
	height: 300px;
	position: relative;
}

.espaco-sticker {
	margin-bottom: 20px;
}

.pau {
	position: absolute;
	width: 5px;
	height: 100%;
	background: #000;
	top: 0;
	left: 50%;
}

.pau-2 {
	position: absolute;
	width: 5px;
	height: 10%;
	background: #000;
	top: 0;
	right: 25%;
}

.base-top {
	position: absolute;
	width: 25%;
	height: 5px;
	background: #000;
	top: 0;
	right: 25%;
}

.base {
	position: absolute;
	bottom: 0;
	width: 80%;
	height: 5px;
	background: #000;
	bottom: 0;
	left: 10%;
}

.sticker {
	position: relative;
	width: 180px;
	height: 530px;
	top: -230px;
	right: -248px;
	margin: 0;
	animation-duration: 5s;
  	animation-name: rotation-sticker;
  	animation-iteration-count: infinite;
}

@keyframes rotation-sticker {	
	0% {
		-webkit-transform: rotate(8deg);
    	transform: rotate(8deg);
	}
	50% {
		-webkit-transform: rotate(-8deg);
    	transform: rotate(-8deg);
	}
	100% {
		-webkit-transform: rotate(8deg);
    	transform: rotate(8deg);	
	}
}

.head {
	position: absolute;
	width: 40px;
	height: 40px;
	border: solid 5px #000;
	border-radius: 100%;
	top: 49%;
	right: 38%;
}

.eye1 {
	position: absolute;
	width: 15px;
	height: 15px;
	top: 8px;
	left: 3px;
	-webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.eye1:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 2px;
	background-color: #000;
	top: 42%;
	left: 0;
}

.eye1:after {
	position: absolute;
	content: "";
	width: 2px;
	height: 100%;
	background-color: #000;
	top: 0;
	left: 42%;
}

.eye2 {
	position: absolute;
	width: 15px;
	height: 15px;
	top: 8px;
	right: 4px;
	-webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.eye2:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 2px;
	background-color: #000;
	top: 42%;
	left: 0;
}

.eye2:after {
	position: absolute;
	content: "";
	width: 2px;
	height: 100%;
	background-color: #000;
	top: 0;
	left: 42%;
}

.corpo {
	position: absolute;
	width: 5px;
	height: 20%;
	background: #000;
	top: 58%;
	right: 50%;
}

.braco1 {
	position: absolute;
	width: 5px;
	height: 12%;
	background: #000;
	top: 58%;
	right: 64%;
	-webkit-transform: rotate(50deg);
    transform: rotate(50deg);

    animation-duration: 5s;
  	animation-name: rotation-braco-um;
  	animation-iteration-count: infinite;
}

@keyframes rotation-braco-um {	
	0% {
		-webkit-transform: rotate(-22deg);
    	transform: rotate(-22deg);
    	top: 60%;
    	right: 43%;
	}
	50% {
		-webkit-transform: rotate(22deg);
    	transform: rotate(22deg);
  		top: 59%;
    	right: 56%;
	}
	100% {
		-webkit-transform: rotate(-22deg);
    	transform: rotate(-22deg);
    	top: 60%;
    	right: 43%;	
	}
}

.braco2 {
	position: absolute;
	width: 5px;
	height: 12%;
	background: #000;
	top: 58%;
	right: 36%;
	-webkit-transform: rotate(-50deg);
    transform: rotate(-50deg);

    animation-duration: 5s;
  	animation-name: rotation-braco-dois;
  	animation-iteration-count: infinite;
}

@keyframes rotation-braco-dois {
	0% {
		-webkit-transform: rotate(-36deg);
    	transform: rotate(-36deg);
    	top: 59%;
    	right: 40%;
	}
	50% {
		-webkit-transform: rotate(36deg);
    	transform: rotate(36deg);
  		top: 59%;
    	right: 60%;
	}
	100% {
		-webkit-transform: rotate(-36deg);
    	transform: rotate(-36deg);
    	top: 59%;
    	right: 40%;	
	}
}

.perna1 {
	position: absolute;
	width: 5px;
	height: 12%;
	background: #000;
	top: 75%;
	right: 64%;
	-webkit-transform: rotate(50deg);
    transform: rotate(50deg);

    animation-duration: 5s;
  	animation-name: rotation-perna-um;
  	animation-iteration-count: infinite;
}

@keyframes rotation-perna-um {	
	0% {
		-webkit-transform: rotate(-22deg);
    	transform: rotate(-22deg);
    	top: 77%;
    	right: 44%;
	}
	50% {
		-webkit-transform: rotate(22deg);
    	transform: rotate(22deg);
  		top: 77%;
    	right: 56%;
	}
	100% {
		-webkit-transform: rotate(-22deg);
    	transform: rotate(-22deg);
    	top: 77%;
    	right: 44%;	
	}
}

.perna2 {
	position: absolute;
	width: 5px;
	height: 12%;
	background: #000;
	top: 75%;
	right: 36%;
	-webkit-transform: rotate(-50deg);
    transform: rotate(-50deg);

    animation-duration: 5s;
  	animation-name: rotation-perna-dois;
  	animation-iteration-count: infinite;
}

@keyframes rotation-perna-dois {
	0% {
		-webkit-transform: rotate(-36deg);
    	transform: rotate(-36deg);
    	top: 77%;
    	right: 40%;
	}
	50% {
		-webkit-transform: rotate(36deg);
    	transform: rotate(36deg);
  		top: 77%;
    	right: 60%;
	}
	100% {
		-webkit-transform: rotate(-36deg);
    	transform: rotate(-36deg);
    	top: 77%;
    	right: 40%;
	}
}